// Глобальні налаштування 

body {
  font-family: $primary-font-style;
  letter-spacing: 0.03em;
  
  background-color: $additional-bg-color;
  
  color: $secondary-text-color;
}

// Секції

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  
  background-color: $additional-bg-color;

  // Padding 0 - section WORK
  &:nth-last-child(3) {
    padding-top: 0;
  }

  // background-color - section TEAM
  &:nth-last-child(2) {
    background-color: $team-bg-color;
  }
}

.section__title {
  color: $primary-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section_title-setting {
  margin-bottom: 50px;
}

// Глобальне налаштування контейнеру

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Паттерн visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Налаштунок фото */
img {
  display: block;
}

/* Глобальне скидання */
h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0; 
 padding: 0;
}

/* Налаштування для списків */
ul {
  margin: 0;
  padding: 0;

  list-style: none;
}