// Лого сайту 

.logo {
  color: $interactive-text-color;
  font-family: $logo-font-style;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

// header logo
.logo__header-color {
  color: $logo-text-color;
}

// footer logo
.logo__footer-color {
  color: $additional-text-color;
}


.page-footer__logo {
  display:inline-block;

  margin-bottom: 20px;
}
