// Секція замовлення послуги

.service__background-image {
  max-width: 1600px;

  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../../../images/servicebgimg.jpg);
  background-color: $service-bg-color;
  background-position: center;
  background-size: cover;
}

.page-main__background-img {
  margin-left: auto;
  margin-right: auto;
}

.service__container {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 696px;
  margin: 0 auto;
  text-align: center;
}

.service__title {
  font-weight: 900;
  color: $additional-text-color;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  //setting
  &-setting {
    margin-bottom: 30px;
  }
}

.service__btn {
  min-width: 216px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  text-align: center;
  color: $additional-text-color;

  background-color: $interactive-text-color;
  border: 1px solid transparent;

  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // hover , focus
  &--focused:hover,
  &--focused:focus {
    background-color: $additional-btn-color;
  }
}